<!DOCTYPE html>
<html>
  <head>
    <title>RedSocial</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag%>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
   <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.red-indigo.min.css" /> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div id="global-snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text">
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
    </div>

    
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <p class="large-padding blue withe-text text-center no-margin" style="<%= 'display:none;' if notice.nil? && alert.nil?%>">
        <%= notice %> <%= alert %>
        <span style="float:right;" class="close-parent">X</span> 
      </p>
      <%= render "partials/nav" %>      
      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>
    </div>
  </body>
</html>
